.container{
    display: flex;
    margin-top: 10px;
}
.link{
    text-decoration: none;
    color: inherit;
}
/* .onlineStyle{
    
    color: #fff;
    padding: 5;
    border-radius: 5
} */
.error{
    color: brown;
}